

<div class="jumbotron" style="background:url(<%= asset_path "001_1280_768.jpg" %>); background-size:cover;">
<div class="container">
      <div class="d-flex align-items-center justify-content-center" style="height:400px;">
        <h1 class"title"><strong>Favo place</strong></h1>
      </div>
      <div class="d-flex justify-content-center">
        <p>~その場所を綴るSNSサイト~</p>
      </div>
      <div class="d-flex justify-content-center">
        <span>新規登録</span><span>ログイン</span>
      </div>
      </div>
    </div>
</div>

