<div class="container-fluid">
  <div class="row">

    <%= render 'posts/sidebar', posts: @posts %>

    <div class="col-md-10">
      <%#ここからマップ%>

      <div id='map' style="height: 700px; width: auto;"></div>
      <script>
      let map
      function initMap(){
        let latlng = new google.maps.LatLng(38.60, 139.5);
        

       map = new google.maps.Map(document.getElementById('map'), {
          center: {lat:39, lng: 39},
          zoom: 12,
      });

        marker = new google.maps.Marker({
          position:  {lat:39, lng: 39},
          map: map
        });
      }
      </script>

      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDoxhu4tckgppQ5QhtBW6pzZGzCTL7ZDq0&callback=initMap" async defer></script>
    </div>
<%#ここまでマップ%>









